<!DOCTYPE html>
<html lang="en">
  {{> head}}
  <body>
    {{#if analytics_id}}{{> ga}}{{/if}}
    <div class="mobile-background"></div>
	<main class="article-fullimg" id="post">
		{{> header}}
		<div id="lead-image">
			<div id="lead-title">
				<h2><a href="{{page.url}}">{{page.title}}</a></h2>
				<p class="date"><span>{{date page.metadata.date}}</span></p>
			</div>
			<div class="credit">{{page.metadata.image-credit}}</div>
		</div>
		<article class="container box style3">
			<header>
				<!-- <h2><a href="{{page.url}}">{{page.title}}</a></h2>
				<p class="date"><span>{{date page.metadata.date}}</span></p> -->
			</header>
			<section>
				{{{typogr page.html}}}
			</section>

			{{> sharer}}

			{{#if page.metadata.comments}}
				{{> disqus}}
			{{/if}}

		</article>

		<!-- Back to Blog Box -->
		<article class="container box style2">
			<header>
				<h2><a href="/blog/">&larr; Return to Blog</a></h2>
			</header>
		</article>
		{{> footer}}
	</main>
	<script>
	var doc = document.documentElement;
	var pic = document.getElementById('lead-image');
	var title = document.getElementById('lead-title');
	var header = document.getElementById('page-header');
	pic.style.height = (window.innerHeight - header.offsetHeight) + "px";
	window.onload = function() {
		var tmp = new Image();
		var url = "{{page.metadata.image}}";
	    tmp.onload = function() {
			pic.style.height = (window.innerHeight - header.offsetHeight) + "px";
	    	pic.style.backgroundImage = "url('"+url+"')";
	    };
	    tmp.src = url;
		window.onscroll = function() {
			var top = (window.pageYOffset || doc.scrollTop)  - (doc.clientTop || 0);
			//title.style.webkitTransform = 'translate3d(0px, ' + top/5 + 'px, 0px)';
			//title.style.background = "none";
			title.style.opacity = 1 - top/500;
		}
	}
	</script>
{{> close}}